  
.item {
    color: #143021;
}

.done{
    text-decoration: line-through;
    text-decoration-color: #872019;
} 

.check {
    background: none;
    color: #143021;
    display: flex;
    align-items: center;
}

.delBTN {
    opacity: .7;
    cursor: pointer;
    text-align: right;
    margin-left: auto;
}

.check__input {
    appearance: none;
}

.check__box {
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    margin-top: 0;
    margin-left: -1em;
    background-color: #c7ccd0;
    box-shadow: 0 0 0 0.1em #143021;
    border-radius: .1em;
}

.check__input:checked + .check__box {
    background: #143021;
    background-image: url('./check.svg');
    background-repeat: no-repeat;
    background-position: center;
    color: #c7ccd0;
}
