.add {
    display: flex;
    margin-top: 16px;    
    align-items: center;
}

.add__case {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px #143021 solid;
    color: #143021;
}

.add__case:focus {
    color: #143021;
}

.add__btn {
    color: #872019;
    background: none;
    border: #872019 solid 2px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin-left: 25px;
    padding: 4px;
    text-transform: lowercase;
    font-weight: bold;
    cursor: pointer;
}